/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Copyright (c) 2020 The Regents of the University of Michigan.
  All Rights Reserved. Licensed according to the terms of the Revised BSD license.
  See LICENSE.txt for details.
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,textarea,button,body,label{
  font: 300 16px/150% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
body {
  width: 80%;
  max-width: 40em;
  min-width: 30em;
  margin: 1em auto;
  border: .2em solid #eee;
}
#main{
  padding: 1em;
}

h1 {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  padding: .5em 0;
  text-align: center;
  background-color: #00274C;
  border-bottom: .2em solid #FECB05;
}

h1 span {
  display: block;
  font-weight: 200;
  font-size: .6em;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
}

p{margin-top: .5em;}

#copyright{
  font-size: .6em;
  line-height: 133%;
  text-align: center;
  padding:1em 2em;
  color: #bbb;
}

strong{font-weight: 700;}
mark{background-color: #FECB05;}


header {
  margin-bottom: 2em;
}

footer {
  margin-top: 3em;
  font-size: 0.8em;
  text-align: center;
}

aside {
  display: block;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 1.5em;
}

input:focus, button:focus, a:focus{
  outline: none;
}
textarea{
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  padding: 0;
}

.relative{position: relative;}
.center{
  margin:0 auto;
  text-align: center;}
.right{text-align: right;}
.flex{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.shadow{box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.2);}
.hide{display: none;}
.blank{
  width: 100%;
  height: 10em;
  background-color: white;
}

button {
  display: inline-block;
  background-color: #eee;
  border:none;
  border-radius: .3em;
  text-decoration: none;
  text-align: center;
  padding:.3em .6em;
  margin: .2em;
  cursor: pointer;
}
button:hover{
  background-color: #bbb;
}
/*current used as a key word for buttons that shows system status*/
button[class^="current"]{
  background-color: #aaa;
  color:white;
}
button[class*="dark"],button[class*="bright"]{
  border:1.5px solid #00274C;
  font-weight: 500;
}
button[class*="dark"]{
  color: white;
  background-color: #00274C;
}
button[class*="bright"]{
  color: #00274C;
  background-color: white;
}

/*////////////////////////
////  status button  ////
//////////////////////*/

.status{
  width: 36%;
  min-width: 12em;
  margin: 0 auto;
  margin-bottom: 1em;
}
.status button{
  width: 50%;
  min-width: 6em;
  margin: 0; /*remove inherited margin*/
  border-radius: 0;
  font-size: .8em;
}
.status button:first-child{
  border-radius: .5em 0 0 .5em;
}
.status button:last-child{
  border-radius:  0 .5em .5em 0;
}

.status button[class^="current"]{
  background-color: #00274C;
}

/*////////////////////////
////    search box   ////
//////////////////////*/

.search-box-container{
  width: 48%;
  min-width: 12em;
  position: relative;
  margin:0 auto;
}
.search-box{
  width: 100%;
  position: relative;
  margin: 0;
  padding: .5em .8em;
  border-radius: 1.2em;
  border: 2px solid #FECB05;
  background-color: white;
  z-index: 9999;
}

/*/////word: search-box/////*/

.search-box input{
  display: inline-block;
  flex-grow: 1; /*take all rest space*/
  border:none;
  height: 1em;
  text-decoration: none;
  text-align: left;
  font-size: 1em;
  background-color: transparent;
}
.search-box svg{
  margin-left: .5em;
  flex-grow: 0;
}
.guess{
  position: absolute;
  padding: 0;
  top:0;
  left:0;
  border: none;
  z-index: 99;
}
.guess button{
  position: relative;
  width: 100%;
  padding: .5em .8em;
  margin: 0;
  font-size: 1em;
  line-height: 100%;
  border-radius: 0; 
  text-align: left;
  background-color: white;
}
.guess button:first-child{
  border-radius: 1.2em 1.2em 0 0;
}
.guess button:last-child{
  border-radius: 0 0 1.2em 1.2em;
}
.guess button:hover{
  background-color: #f8f8f8;
}

/*/////paragraph: search-box/////*/
.search-box .box-paragraph{
  flex-grow: 1;
  display: inline-block;
  min-height: 50vh;
  max-height: 70vh;
}

#under-textarea{
  width: 100%;
  position: relative;
  color:transparent;
  padding: 0;
}
.box-paragraph textarea{
  display: inline-block;
  position: absolute;
  top:.0;
  left:0;
  z-index: 99;
  background-color: transparent;
}


/*//////////////////////////
////    BrowseField    ////
////////////////////////*/

.BrowseFeild{
  margin-top: .8em;
}

/*//////////////////////////
////    TermCardList   ////
////////////////////////*/

/*.TermCardList_para,
.TermCardList_word{
  max-height: 20em;
  overflow-y: scroll;
}*/
.TermCardList_para{
  max-width: 48%;
  max-height: 70vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.padding{
  padding: 0 .5em;
}
.TermCardList_para::-webkit-scrollbar {
  display: none;
}

.term-card{
  width: 100%;
  position: relative;
  padding: 1em;
  margin: .5em auto;
  margin-bottom: 1em;

  background-color: white;
  border-radius: .5em;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .24);
  
  overflow: hidden;
  cursor:pointer;
  z-index: 10;
}
.term-card-selected{
  top:-2px;
  border:1.5px solid #FECB05;
  box-shadow: 0 1px 6px 0 rgba(254, 203, 5, 1);
}

.iconset{
  position: absolute;
  top: 1em;
  right: 1em;
}
.iconset button{
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: .8em;
}

/*//////////////////////////
//////    Report    //////
////////////////////////*/

.form{margin: .5em;}

.back-a{
  font-size: .8em;
  padding: 1px;
  width: 3.5em;
  text-align: center;
  margin-bottom:.5em; 
  line-height: 100%;
  color: #00274C;
  border-bottom: 1px solid #00274C;
  cursor: pointer;
}
.back-a:hover{
  background-color: #00274C;
  color: white;
}
.term-card-min{
  width: 96%;
  padding: 1em;
  margin: .5em auto;
  margin-bottom: 1em;
  background-color: #f8f8f8;
  border-radius: .5em;
  cursor: pointer;
}
.form-textarea{
  border:1.5px solid #aaa;
  border-radius:.5em;
  padding: .2em .5em;
  margin:.5em auto;
}
.form-textarea textarea{
  height: 4em;
}
.form button{
  position: relative;
  top: 0;
  width: 5em;
  margin-left: 1em;
  border-radius: 10em;
  transition-property: ease-out;
  transition: top .2s, box-shadow .2s;
}
.form button:hover{
  top: -2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/*////////////////////////
////  svg & icons   /////
//////////////////////*/

svg{
  height: 1em;
  display: inline-block;
  background-color: transparent;
}

.search-icon{fill:#FECB05;}

.report-icon,
.copy-icon{fill: #aaa;}

.report-icon:hover,
.copy-icon:hover{fill: #01274C;}